<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.artsavin.wifighter">

    <uses-feature android:name="android.hardware.type.watch" />
    <!-- For getting and setting WiFi status -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault" >

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <service
            android:name=".WifiTileService"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER"
            android:exported="true"
            android:label="@string/app_name"
            android:description="@string/description"
            >
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>

            <!-- The tile preview shown when configuring tiles on your phone -->
            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/wifi_on" />

        </service>

        <activity
            android:name=".WifiActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".WifiComplicationService"
            android:exported="true"
            android:icon="@drawable/wifi_on"
            android:label="@string/app_name"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SMALL_IMAGE" />

            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <receiver
            android:name=".WifiBroadcastReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.*" />
            </intent-filter>
        </receiver>

    </application>

</manifest>